:root {
  --primary-color:#EDAA25;
  --secondary-color:#C43302;
  --tertiary-color:#0A7373;
  --bg-color:#e0e0e0;

  --color-warning: #f7b218;
  --color-danger: #ee171f;
  --color-danger-hover: #f2555a;

  --color-dark: #11141d;
  --color-light: #f4f5f8;

  --color-light-grey: #dfdfdf;

  --color-light-blue-hover: #33abda;
}
