:root {
  --color-primary:#2c01d4;
  --color-secondary:#6b6b6b;
  --color-tertiary:#1f0e62;
  --bg-color:#e0e0e0;

  --color-warning: #f7b218;
  --color-danger: #ee171f;


  --color-dark: #292929;
  --color-light: #b6b6b6;
  --color-light-grey: #e0e7f4;


}
