
@import "~bootstrap/scss/bootstrap";
@import './variables.scss';


html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--bg-color);
  color: var(--color-dark);
}

.pointer{
  cursor: pointer;
}


.search-box{
  .form-control{
    background-color: transparent;

    font-size: 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--color-dark);

  }
}


.btn{
  border-radius: 20px;
  &.btn-primary{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  &.btn-secondary{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
  }
}

.bg-primary{
  background-color: var(--color-primary);
}
.text-primary{
  color: var(--color-primary);
}
.text-danger{
  color: var(--color-danger);
}
.bg-secondary{
  background-color: var(--color-secondary)!important;
}


@media (max-width:792px){
  .hide-on-mobile{
    display: none;
  }
}
