@import "~bootstrap/scss/bootstrap";

@import './variables.scss';


html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--bg-color);
  color: var(--color-dark);
}

.pointer{
  cursor: pointer;
}


.search-box{
  .form-control{
    background-color: transparent;

    font-size: 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--color-dark);

  }
}
