<div class="container-fluid" (keyup.enter)="addEntry(newEntry)">
  <ng-container *ngIf="phonebookList; else loading">
    <div class="row mb-4">
      <div class="col-6">
        <button class="btn btn-secondary" (click)="back()" [disabled]="saving">
          <fa-icon class="me-2" [icon]="faChevronLeft"></fa-icon>
          Back
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary float-end" (click)="save()" [disabled]="saving">
          <fa-icon class="me-2" [icon]="saving ? faSpinner : faSave" [spin]="saving"></fa-icon>
          Save
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="phonebookName">Phonebook Name</label>
          <input
            [(ngModel)]="phonebookList.name"
            type="phonebookName"
            class="form-control"
            id="phonebookName"
            placeholder="Enter Phonebook name"
          />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="search-box">
          <label class="form-label" for="search-text"><br /></label>
          <input [(ngModel)]="search" type="search-text" class="form-control" id="floatingInput" placeholder="Search" />
        </div>
      </div>
    </div>

    <fieldset [disabled]="saving">
      <div class="row entry-row-header hide-on-mobile">
        <div class="col-12 col-sm-3">Name</div>
        <div class="col-12 col-sm-3">Phone Number</div>
        <div class="col-12 col-sm-3">Email</div>
        <div class="col-12 col-sm-3"></div>
      </div>

      <div
        class="row entry-rows"
        *ngFor="let entry of phonebookList.entries | filterlist: search:'':phonebookList.entries.length; let i = index"
      >
        <div class="col-12 col-sm-3">
          <input class="form-control" [(ngModel)]="entry.name" [disabled]="editing !== i" />
        </div>
        <div class="col-12 col-sm-3">
          <input class="form-control" [(ngModel)]="entry.phoneNumber" [disabled]="editing !== i" />
        </div>
        <div class="col-12 col-sm-3">
          <input class="form-control" [(ngModel)]="entry.email" [disabled]="editing !== i" />
        </div>
        <div class="col-12 col-sm-3 text-center">
          <div class="d-flex justify-content-center text-center">
            <div>
              <button
                *ngIf="editing === i"
                class="btn btn-default"
                (click)="saveEntry()"
                [disabled]="!entry?.name && !entry?.phoneNumber"
              >
                <fa-icon class="text-primary" [icon]="faSave"></fa-icon>
              </button>
              <button
                *ngIf="editing !== i"
                class="btn btn-default"
                (click)="editEntry(i)"
                [disabled]="!entry?.name && !entry?.phoneNumber"
              >
                <fa-icon class="text-primary" [icon]="faEdit"></fa-icon>
              </button>
            </div>
            <div>
              <button
                *ngIf="editing === i"
                class="btn btn-default"
                (click)="deleteEntry(i)"
                [disabled]="!entry?.name && !entry?.phoneNumber"
              >
                <fa-icon [icon]="faTrash" class="text-danger"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row entry-rows">
        <div class="col-12 col-sm-3">
          <input class="form-control" [(ngModel)]="newEntry.name" placeholder="Enter Contact Name" />
        </div>
        <div class="col-12 col-sm-3">
          <input class="form-control" [(ngModel)]="newEntry.phoneNumber" placeholder="Enter Contact Number" />
        </div>
        <div class="col-12 col-sm-3">
          <input class="form-control" [(ngModel)]="newEntry.email" placeholder="Enter Contact Email" />
        </div>
        <div class="col-12 col-sm-3 text-center">
          <button
            class="btn btn-default"
            (click)="addEntry(newEntry)"
            [disabled]="!newEntry.name && !newEntry.phoneNumber"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
    </fieldset>
  </ng-container>
</div>

<ng-template #loading>
  <div class="w-100 text-center">
    <fa-icon [icon]="faSpinner" size="2x" [spin]="true"></fa-icon>
  </div>
</ng-template>
